.DS_Store
DerivedData/
.build/
.swiftpm/
xcuserdata/
xcode-build/
.build-xcode/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
EditorServices/.build/
EditorServices/.swiftpm/
.calcite/DerivedData/
__pycache__/
*.pyc
._*
.AppleDouble/
*.tar
*.tar.gz
*.zip
